body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #9bc9cf, #fff);
    margin: 0;
    padding: 0;
}
.header{
    background-color: rgb(1, 139, 173);
    text-align: center;
    margin-top: 0;
    padding: 10px;
}

.navBar{
    background-color: #025b97;
    padding: 1px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navBar ul li a{
    color: white;
    text-decoration: none;

}
.navBar ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style-type: none;
    justify-content: center;
}
.footer{
    background-color:  #025b97;
    padding: 5px;
    text-align: center;
    margin-top: 0;
}

    

.main-conter {
    display:grid;
    gap: 15px;
    margin-right: 20px;
    margin-left: 300px;
    margin-bottom: 60px;
    margin-top: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
      'mot, grafico';
    grid-auto-rows: auto;
    
}
    
