body {
    background-color: rgb(147, 133, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(29, 26, 26);
    padding: 0;
    margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.header {
    background-color: rgb(36, 23, 21);
    color: rgb(255, 251, 251);
    padding: 5px;
    text-align: center;

}
.navbar {
    background-color: rgb(78, 24, 5);
    color: rgb(104, 94, 8);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;

}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    margin: 0;

}

.navbar ul li a {
    color: chocolate;
    text-decoration: none;
}

.main-counter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-content: space-evenly;
    padding: 25px;
}

.grafico {
    background-color: rgb(168, 161, 18);
    border-radius: 10px;
    padding: 20px;
    line-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.grafico h2 {
    text-align: center;
    color: rgb(117, 15, 15);
}

canvas {
    margin: auto;
    display: grid;
    max-width: 80%;
    min-width: 70%;
    height: 80%;



}

.footer {
    background-color: black;
    color: rgb(168, 161, 18);
    text-align: center;
    padding: 0;
    margin-top: 0;

}

.correo {
    color: antiquewhite;
    text-decoration: none;
}


body {
    background-color: rgb(147, 133, 10);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(29, 26, 26);
    padding: 0;
    margin: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.header {
    background-color: rgb(36, 23, 21);
    color: rgb(255, 251, 251);
    padding: 5px;
    text-align: center;

}
.navbar {
    background-color: rgb(78, 24, 5);
    color: rgb(104, 94, 8);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 10;

}

.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    justify-content: center;
    margin: 0;

}

.navbar ul li a {
    color: chocolate;
    text-decoration: none;
}

.main-counter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-content: space-evenly;
    padding: 25px;
}

.grafico {
    background-color: rgb(168, 161, 18);
    border-radius: 10px;
    padding: 20px;
    line-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.grafico h2 {
    text-align: center;
    color: rgb(117, 15, 15);
}

canvas {
    margin: auto;
    display: grid;
    max-width: 80%;
    min-width: 70%;
    height: 80%;



}

.footer {
    background-color: black;
    color: rgb(168, 161, 18);
    text-align: center;
    padding: 0;
    margin-top: 0;

}

.correo {
    color: antiquewhite;
    text-decoration: none;
}

